<div class="message">
  <% if message.user.id != current_user.id %>
    <div class="message__partner">
      <% if @room_user.profile_image.url.nil? %>
        
      <% else %>
        <%= image_tag message.user.profile_image.url, class: "message__partner-img" %>
      <% end %>

      <div class="message__content">
        <%= message.content %>
      </div>
    </div>
  <% else %>
    <div class="message__current-user">
      <div class="message__content main-color-bg">
        <%= message.content %>
      </div>
    </div>
  <% end %>
</div>