<div class="message">
  <% if message.user.id != current_user.id %>
    <div class="message__partner">
      

      <div class="message__content">
        <%= message.content %>
      </div>
    </div>
  <% else %>
    <div class="message__current-user">
      <div class="message__content main-color-bg">
        <%= message.content %>
      </div>
    </div>
  <% end %>
</div>
