<div class="user-liked-page">
  <%= render "partial/navbar" %>
  <% @users.each do |user|%>
    <% if user.profile_image.url.nil? %>
      <%= user.name %>
    <% else %>
      <%= image_tag user.profile_image.url %>
     <% end %>
    
  <% end %>
</div>