.user-liked-page {
  max-width: 480px;
  margin: auto 0;
  .profile_image {
    width: 340px;
    height: 520px;
    object-fit: cover;
  }
}
@media (min-width: 414px) {
  .user-liked-page {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    margin: 8px auto;
  }
}